################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs/V2
/.vs/V2/v17/.suo
/.vs/V2/DesignTimeBuild/.dtbcache.v2
/.gitignore


# Rider ignored files
.run/*
.idea/*
.vs/ProjectEvaluation/*